[submodule "apps/nakama"]
	path = apps/nakama
	url = git@github.com:log-pose/nakama.git
[submodule "apps/room"]
	path = apps/room
	url = git@github.com:log-pose/room.git
[submodule "apps/inzane"]
	path = apps/inzane
	url = git@github.com:log-pose/inzane.git
